# GENERATED FILE — do not edit by hand.
# Source : GET https://crm.prudai.com/rest/open-api/core (live CATO instance)
# Script : bun run cli/scripts/generate-openapi.ts
# Regenerate after any CRM schema change; do not patch this file directly.
openapi: 3.1.1
info:
  title: "CATO — PrudAI CRM"
  version: v0.1
  description: |-
    The surface of PrudAI's Twenty CRM instance ("CATO").

    Generated by cli/scripts/generate-openapi.ts. The core objects are taken from
    the live CATO document (GET /rest/open-api/core), so their field names, enum
    values and composite shapes are the real ones and cannot drift. The
    /marketing/* routes are a custom controller in our Twenty fork and do not
    appear in that document; they are described in cli/scripts/marketing-paths.ts
    and must be kept in step with the controllers by hand.

    WHAT IS IN HERE
      * people, companies, opportunities, notes — list, get, create, update, delete;
      * the full /marketing/* module: campaigns, company targets, contact research,
        contact selection candidates, members, review queue, assets and sending.

    WHAT IS LEFT OUT
      * the /batch/*, /merge, /duplicates and /groupBy routes;
      * every other object in the workspace, including messages,
        messageParticipants, connectedAccounts and calendarEvents — those carry
        e-mail content and mailbox metadata;
      * the metadata API (/rest/metadata/*) and the GraphQL endpoints.

    SENDING MAIL
      Nothing here sends mail on its own. A campaign is created disabled with
      generation off and no members, and CATO refuses to dispatch a touchpoint
      whose approvalState is not 'approved'. Approving is a deliberate human step;
      there is no auto-approve route.

    AUTHENTICATION
      Bearer token in the Authorization header — a Twenty API key, or a user
      session token.

      IMPORTANT — read this before issuing a key. Every API key must carry a role,
      and a role is only attachable to an API key when canBeAssignedToApiKeys is
      true. Today the ONLY such role in this workspace is Admin, which grants read,
      write, delete and all settings — and since server-commit 3c570e37 it also
      grants access to the marketing module. A key issued today therefore cannot be
      read-only, and can approve and send campaign mail. Creating a restricted role
      first is the fix. Verify with: cato auth roles
servers:
  - url: "https://crm.prudai.com/rest/"
    description: CATO production
security:
  - bearerAuth: []
paths:
  "/people":
    get:
      tags:
        - people
      summary: Find Many people
      description: "**order_by**, **filter**, **limit**, **depth**, **starting_after** or **ending_before** can be provided to request your **people**"
      operationId: findManyPeople
      parameters:
        - "$ref": "#/components/parameters/orderBy"
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/startingAfter"
        - "$ref": "#/components/parameters/endingBefore"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      people:
                        type: array
                        items:
                          "$ref": "#/components/schemas/PersonForResponse"
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      startCursor:
                        type: string
                        format: uuid
                      endCursor:
                        type: string
                        format: uuid
                  totalCount:
                    type: integer
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    post:
      tags:
        - people
      summary: Create One person
      operationId: createOnePerson
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/upsert"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Person"
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      createPerson:
                        "$ref": "#/components/schemas/PersonForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - people
      summary: Delete Many people
      operationId: deleteManyPeople
      parameters:
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deletePeople:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - people
      summary: Update Many people
      operationId: updateManyPeople
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/filter"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PersonForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updatePeople:
                        type: array
                        items:
                          "$ref": "#/components/schemas/PersonForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/people/{id}":
    get:
      tags:
        - people
      summary: Find One person
      description: "**depth** can be provided to request your **person**"
      operationId: findOnePerson
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      person:
                        "$ref": "#/components/schemas/PersonForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - people
      summary: Delete One person
      operationId: deleteOnePerson
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deletePerson:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - people
      summary: Update One person
      operationId: UpdateOnePerson
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PersonForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updatePerson:
                        "$ref": "#/components/schemas/PersonForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/companies":
    get:
      tags:
        - companies
      summary: Find Many companies
      description: "**order_by**, **filter**, **limit**, **depth**, **starting_after** or **ending_before** can be provided to request your **companies**"
      operationId: findManyCompanies
      parameters:
        - "$ref": "#/components/parameters/orderBy"
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/startingAfter"
        - "$ref": "#/components/parameters/endingBefore"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      companies:
                        type: array
                        items:
                          "$ref": "#/components/schemas/CompanyForResponse"
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      startCursor:
                        type: string
                        format: uuid
                      endCursor:
                        type: string
                        format: uuid
                  totalCount:
                    type: integer
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    post:
      tags:
        - companies
      summary: Create One company
      operationId: createOneCompany
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/upsert"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Company"
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      createCompany:
                        "$ref": "#/components/schemas/CompanyForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - companies
      summary: Delete Many companies
      operationId: deleteManyCompanies
      parameters:
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteCompanies:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - companies
      summary: Update Many companies
      operationId: updateManyCompanies
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/filter"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompanyForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateCompanies:
                        type: array
                        items:
                          "$ref": "#/components/schemas/CompanyForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/companies/{id}":
    get:
      tags:
        - companies
      summary: Find One company
      description: "**depth** can be provided to request your **company**"
      operationId: findOneCompany
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      company:
                        "$ref": "#/components/schemas/CompanyForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - companies
      summary: Delete One company
      operationId: deleteOneCompany
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteCompany:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - companies
      summary: Update One company
      operationId: UpdateOneCompany
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompanyForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateCompany:
                        "$ref": "#/components/schemas/CompanyForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/opportunities":
    get:
      tags:
        - opportunities
      summary: Find Many opportunities
      description: "**order_by**, **filter**, **limit**, **depth**, **starting_after** or **ending_before** can be provided to request your **opportunities**"
      operationId: findManyOpportunities
      parameters:
        - "$ref": "#/components/parameters/orderBy"
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/startingAfter"
        - "$ref": "#/components/parameters/endingBefore"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      opportunities:
                        type: array
                        items:
                          "$ref": "#/components/schemas/OpportunityForResponse"
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      startCursor:
                        type: string
                        format: uuid
                      endCursor:
                        type: string
                        format: uuid
                  totalCount:
                    type: integer
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    post:
      tags:
        - opportunities
      summary: Create One opportunity
      operationId: createOneOpportunity
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/upsert"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Opportunity"
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      createOpportunity:
                        "$ref": "#/components/schemas/OpportunityForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - opportunities
      summary: Delete Many opportunities
      operationId: deleteManyOpportunities
      parameters:
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteOpportunities:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - opportunities
      summary: Update Many opportunities
      operationId: updateManyOpportunities
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/filter"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OpportunityForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateOpportunities:
                        type: array
                        items:
                          "$ref": "#/components/schemas/OpportunityForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/opportunities/{id}":
    get:
      tags:
        - opportunities
      summary: Find One opportunity
      description: "**depth** can be provided to request your **opportunity**"
      operationId: findOneOpportunity
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      opportunity:
                        "$ref": "#/components/schemas/OpportunityForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - opportunities
      summary: Delete One opportunity
      operationId: deleteOneOpportunity
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteOpportunity:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - opportunities
      summary: Update One opportunity
      operationId: UpdateOneOpportunity
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OpportunityForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateOpportunity:
                        "$ref": "#/components/schemas/OpportunityForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/notes":
    get:
      tags:
        - notes
      summary: Find Many notes
      description: "**order_by**, **filter**, **limit**, **depth**, **starting_after** or **ending_before** can be provided to request your **notes**"
      operationId: findManyNotes
      parameters:
        - "$ref": "#/components/parameters/orderBy"
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/startingAfter"
        - "$ref": "#/components/parameters/endingBefore"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      notes:
                        type: array
                        items:
                          "$ref": "#/components/schemas/NoteForResponse"
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      startCursor:
                        type: string
                        format: uuid
                      endCursor:
                        type: string
                        format: uuid
                  totalCount:
                    type: integer
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    post:
      tags:
        - notes
      summary: Create One note
      operationId: createOneNote
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/upsert"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Note"
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      createNote:
                        "$ref": "#/components/schemas/NoteForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - notes
      summary: Delete Many notes
      operationId: deleteManyNotes
      parameters:
        - "$ref": "#/components/parameters/filter"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteNotes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - notes
      summary: Update Many notes
      operationId: updateManyNotes
      parameters:
        - "$ref": "#/components/parameters/depth"
        - "$ref": "#/components/parameters/filter"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NoteForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateNotes:
                        type: array
                        items:
                          "$ref": "#/components/schemas/NoteForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/notes/{id}":
    get:
      tags:
        - notes
      summary: Find One note
      description: "**depth** can be provided to request your **note**"
      operationId: findOneNote
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      note:
                        "$ref": "#/components/schemas/NoteForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    delete:
      tags:
        - notes
      summary: Delete One note
      operationId: deleteOneNote
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/softDelete"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleteNote:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
    patch:
      tags:
        - notes
      summary: Update One note
      operationId: UpdateOneNote
      parameters:
        - "$ref": "#/components/parameters/idPath"
        - "$ref": "#/components/parameters/depth"
      requestBody:
        description: body
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NoteForUpdate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updateNote:
                        "$ref": "#/components/schemas/NoteForResponse"
        "400":
          "$ref": "#/components/responses/400"
        "401":
          "$ref": "#/components/responses/401"
  "/marketing/access":
    get:
      summary: What the calling credential may do in the marketing module.
      tags:
        - marketing
      responses:
        "200":
          description: What the calling credential may do in the marketing module.
          content:
            application/json:
              schema:
                type: object
  "/marketing/campaigns":
    get:
      summary: List campaigns.
      tags:
        - marketing
      responses:
        "200":
          description: List campaigns.
          content:
            application/json:
              schema:
                type: object
    post:
      summary: "Create a campaign. It starts disabled, with generation off and no members."
      tags:
        - marketing
      responses:
        "200":
          description: "Create a campaign. It starts disabled, with generation off and no members."
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}":
    patch:
      summary: Update campaign fields.
      tags:
        - marketing
      responses:
        "200":
          description: Update campaign fields.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
    delete:
      summary: Delete a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Delete a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/enabled":
    patch:
      summary: Enable or disable a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Enable or disable a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/archive":
    post:
      summary: Archive a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Archive a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/restore":
    post:
      summary: Restore an archived campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Restore an archived campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/prompts":
    get:
      summary: Generation prompts of a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Generation prompts of a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
    patch:
      summary: Replace the generation prompts.
      tags:
        - marketing
      responses:
        "200":
          description: Replace the generation prompts.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/schedule":
    patch:
      summary: Set the weekly send windows.
      tags:
        - marketing
      responses:
        "200":
          description: Set the weekly send windows.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/people":
    get:
      summary: Contactable people as the marketing module sees them.
      tags:
        - marketing
      responses:
        "200":
          description: Contactable people as the marketing module sees them.
          content:
            application/json:
              schema:
                type: object
  "/marketing/contact-filter-options":
    get:
      summary: Available contact filter options.
      tags:
        - marketing
      responses:
        "200":
          description: Available contact filter options.
          content:
            application/json:
              schema:
                type: object
  "/marketing/crm-picker":
    get:
      summary: CRM picker options for selection.
      tags:
        - marketing
      responses:
        "200":
          description: CRM picker options for selection.
          content:
            application/json:
              schema:
                type: object
  "/marketing/campaigns/{campaignId}/members":
    get:
      summary: Campaign members.
      tags:
        - marketing
      responses:
        "200":
          description: Campaign members.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
    post:
      summary: Attach one person as a member.
      tags:
        - marketing
      responses:
        "200":
          description: Attach one person as a member.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/members/bulk":
    post:
      summary: Attach several people at once.
      tags:
        - marketing
      responses:
        "200":
          description: Attach several people at once.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/members/attach-matching":
    post:
      summary: Attach every person matching a filter.
      tags:
        - marketing
      responses:
        "200":
          description: Attach every person matching a filter.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/members/mark-as-todo":
    post:
      summary: Mark members as todo.
      tags:
        - marketing
      responses:
        "200":
          description: Mark members as todo.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/members/{memberId}":
    delete:
      summary: Remove a member.
      tags:
        - marketing
      responses:
        "200":
          description: Remove a member.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/members/{memberId}/stop":
    post:
      summary: Stop the sequence for one member.
      tags:
        - marketing
      responses:
        "200":
          description: Stop the sequence for one member.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/company-targets":
    get:
      summary: Company targets of a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Company targets of a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
    post:
      summary: Attach companies as targets.
      tags:
        - marketing
      responses:
        "200":
          description: Attach companies as targets.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/company-targets/add-matching":
    post:
      summary: Attach every company matching a filter.
      tags:
        - marketing
      responses:
        "200":
          description: Attach every company matching a filter.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/company-targets/{targetId}":
    delete:
      summary: Remove a company target.
      tags:
        - marketing
      responses:
        "200":
          description: Remove a company target.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/company-targets/{targetId}/research":
    post:
      summary: Research contacts for one company.
      tags:
        - marketing
      responses:
        "200":
          description: Research contacts for one company.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/company-targets/{targetId}/crm-contacts":
    get:
      summary: CRM contacts already known for this company.
      tags:
        - marketing
      responses:
        "200":
          description: CRM contacts already known for this company.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/company-targets/{targetId}/contact-candidates":
    post:
      summary: Stage contact candidates for this company.
      tags:
        - marketing
      responses:
        "200":
          description: Stage contact candidates for this company.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-search-settings":
    get:
      summary: Which job titles the research looks for.
      tags:
        - marketing
      responses:
        "200":
          description: Which job titles the research looks for.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
    patch:
      summary: Change the contact search settings.
      tags:
        - marketing
      responses:
        "200":
          description: Change the contact search settings.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-research/start":
    post:
      summary: "Start contact research over the campaign's companies. Writes candidates, sends nothing."
      tags:
        - marketing
      responses:
        "200":
          description: "Start contact research over the campaign's companies. Writes candidates, sends nothing."
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-research/stop":
    post:
      summary: Stop a running research run.
      tags:
        - marketing
      responses:
        "200":
          description: Stop a running research run.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/contact-selection-candidates":
    get:
      summary: Candidates awaiting selection.
      tags:
        - marketing
      responses:
        "200":
          description: Candidates awaiting selection.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/contact-selection-candidates/bulk-attach":
    post:
      summary: Turn selected candidates into members.
      tags:
        - marketing
      responses:
        "200":
          description: Turn selected candidates into members.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-selection-candidates/bulk-remove":
    post:
      summary: Discard selected candidates.
      tags:
        - marketing
      responses:
        "200":
          description: Discard selected candidates.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-selection-candidates/attach-crm-contacts":
    post:
      summary: Attach existing CRM people as candidates.
      tags:
        - marketing
      responses:
        "200":
          description: Attach existing CRM people as candidates.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/contact-candidates":
    get:
      summary: Staged contact candidates.
      tags:
        - marketing
      responses:
        "200":
          description: Staged contact candidates.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/generation/activate":
    post:
      summary: Turn AI draft generation on.
      tags:
        - marketing
      responses:
        "200":
          description: Turn AI draft generation on.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/generation/deactivate":
    post:
      summary: Turn AI draft generation off.
      tags:
        - marketing
      responses:
        "200":
          description: Turn AI draft generation off.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/drafts/bulk-approve":
    post:
      summary: Approve every pending draft of a campaign.
      tags:
        - marketing
      responses:
        "200":
          description: Approve every pending draft of a campaign.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/review-queue":
    get:
      summary: Touchpoints awaiting review.
      tags:
        - marketing
      responses:
        "200":
          description: Touchpoints awaiting review.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/touchpoints/{touchpointId}":
    get:
      summary: One touchpoint.
      tags:
        - marketing
      responses:
        "200":
          description: One touchpoint.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: touchpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/touchpoints/{touchpointId}/approve":
    post:
      summary: Approve one touchpoint. Required before CATO will dispatch it.
      tags:
        - marketing
      responses:
        "200":
          description: Approve one touchpoint. Required before CATO will dispatch it.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: touchpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/touchpoints/{touchpointId}/reject":
    post:
      summary: Reject one touchpoint.
      tags:
        - marketing
      responses:
        "200":
          description: Reject one touchpoint.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: touchpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/touchpoints/{touchpointId}/regenerate":
    post:
      summary: Regenerate the draft of one touchpoint.
      tags:
        - marketing
      responses:
        "200":
          description: Regenerate the draft of one touchpoint.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: touchpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/send-test":
    post:
      summary: Send ONE test mail to a given address. The audience is not touched.
      tags:
        - marketing
      responses:
        "200":
          description: Send ONE test mail to a given address. The audience is not touched.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/campaigns/{campaignId}/send-approved-now":
    post:
      summary: Dispatch every APPROVED touchpoint of a campaign immediately.
      tags:
        - marketing
      responses:
        "200":
          description: Dispatch every APPROVED touchpoint of a campaign immediately.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
  "/marketing/campaigns/{campaignId}/tracking/simulate":
    post:
      summary: Simulate tracking events. Testing only.
      tags:
        - marketing
      responses:
        "200":
          description: Simulate tracking events. Testing only.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/assets":
    get:
      summary: "Templates, sender profiles and rule packs."
      tags:
        - marketing
      responses:
        "200":
          description: "Templates, sender profiles and rule packs."
          content:
            application/json:
              schema:
                type: object
  "/marketing/assets/{type}":
    post:
      summary: Create an asset of a given type.
      tags:
        - marketing
      responses:
        "200":
          description: Create an asset of a given type.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  "/marketing/assets/{assetId}":
    patch:
      summary: Update an asset.
      tags:
        - marketing
      responses:
        "200":
          description: Update an asset.
          content:
            application/json:
              schema:
                type: object
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Twenty API key. See `cato auth roles` for what a key can actually do."
  parameters:
    depth:
      name: depth
      in: query
      description: |-
        Determines the level of nested related objects to include in the response.
            - 0: Primary object only
            - 1: Primary object + direct relations
      required: false
      schema:
        type: integer
        enum:
          - 0
          - 1
        default: 1
    endingBefore:
      name: ending_before
      in: query
      description: "Returns objects ending before a specific cursor. You can find cursors in **startCursor** and **endCursor** in **pageInfo** in response data"
      required: false
      schema:
        type: string
    filter:
      name: filter
      in: query
      description: |-
        Format: field[COMPARATOR]:value,field2[COMPARATOR]:value2.
            For like/ilike, use % as a wildcard (e.g. %value% for substring match).
            Refer to the filter section at the top of the page for more details.
      required: false
      schema:
        type: string
      examples:
        simple:
          value: "createdAt[gte]:\"2023-01-01\""
          description: A simple filter param
        simpleNested:
          value: "emails.primaryEmail[eq]:foo99@example.com"
          description: A simple composite type filter param
        complex:
          value: "or(createdAt[gte]:\"2024-01-01\",createdAt[lte]:\"2023-01-01\",not(id[is]:NULL))"
          description: A more complex filter param
        like:
          value: "name[like]:\"%value%\""
          description: Pattern matching
    idPath:
      name: id
      in: path
      description: Object id.
      required: true
      schema:
        type: string
        format: uuid
    limit:
      name: limit
      in: query
      description: Limits the number of objects returned.
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 200
        default: 60
    orderBy:
      name: order_by
      in: query
      description: |-
        Format: **field_name_1,field_name_2[DIRECTION_2]
            Refer to the filter section at the top of the page for more details.
      required: false
      schema:
        type: string
      examples:
        simple:
          value: createdAt
          summary: A simple order_by param
        complex:
          value: "id[AscNullsFirst],createdAt[DescNullsLast]"
          summary: A more complex order_by param
    softDelete:
      name: soft_delete
      in: query
      description: "If true, soft deletes the objects. If false, objects are permanently deleted."
      required: false
      schema:
        type: boolean
        default: false
    startingAfter:
      name: starting_after
      in: query
      description: "Returns objects starting after a specific cursor. You can find cursors in **startCursor** and **endCursor** in **pageInfo** in response data"
      required: false
      schema:
        type: string
    upsert:
      name: upsert
      in: query
      description: "If true, creates the object or updates it if it already exists."
      required: false
      schema:
        type: boolean
        default: false
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              messages:
                type: array
                items:
                  type: string
              error:
                type: string
            example:
              statusCode: 400
              message: error message
              error: Bad Request
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              message:
                type: string
              error:
                type: string
            example:
              statusCode: 401
              message: Token invalid.
              error: Unauthorized
  schemas:
    AttachmentForResponse:
      type: object
      description: An attachment
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        name:
          type: string
          description: Attachment name
        file:
          type: array
          items:
            type: object
            properties:
              fileId:
                type: string
                format: uuid
              label:
                type: string
              extension:
                type: string
              url:
                type: string
          description: Attachment file
        fullPath:
          type: string
          description: Attachment full path
        fileCategory:
          type: string
          enum:
            - ARCHIVE
            - AUDIO
            - IMAGE
            - PRESENTATION
            - SPREADSHEET
            - TEXT_DOCUMENT
            - VIDEO
            - OTHER
          description: Attachment file category
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Attachment record position
        targetTaskId:
          type: string
          format: uuid
        targetNoteId:
          type: string
          format: uuid
        targetPersonId:
          type: string
          format: uuid
        targetCompanyId:
          type: string
          format: uuid
        targetOpportunityId:
          type: string
          format: uuid
        targetDashboardId:
          type: string
          format: uuid
        targetWorkflowId:
          type: string
          format: uuid
        targetTask:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/TaskForResponse"
          description: Attachment target
        targetNote:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/NoteForResponse"
          description: Attachment target
        targetPerson:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/PersonForResponse"
          description: Attachment target
        targetCompany:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/CompanyForResponse"
          description: Attachment target
        targetOpportunity:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/OpportunityForResponse"
          description: Attachment target
        targetDashboard:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/DashboardForResponse"
          description: Attachment target
        targetWorkflow:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/WorkflowForResponse"
          description: Attachment target
    BlocklistForResponse:
      type: object
      description: Blocklist
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Blocklist record position
        handle:
          type: string
          description: Handle
        workspaceMemberId:
          type: string
          format: uuid
        workspaceMember:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/WorkspaceMemberForResponse"
          description: WorkspaceMember
    CalendarChannelEventAssociationForResponse:
      type: object
      description: Calendar Channel Event Associations
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Calendar channel event association record position
        eventExternalId:
          type: string
          description: Event external ID
        recurringEventExternalId:
          type: string
          description: Recurring Event ID
        calendarChannelId:
          type: string
          format: uuid
        calendarEventId:
          type: string
          format: uuid
        calendarChannel:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/CalendarChannelForResponse"
          description: Channel ID
        calendarEvent:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/CalendarEventForResponse"
          description: Event ID
    CalendarChannelForResponse:
      type: object
      description: Calendar Channels
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Calendar channel record position
        handle:
          type: string
          description: Handle
        visibility:
          type: string
          enum:
            - METADATA
            - SHARE_EVERYTHING
          description: Visibility
        isContactAutoCreationEnabled:
          type: boolean
          description: Is Contact Auto Creation Enabled
        contactAutoCreationPolicy:
          type: string
          enum:
            - AS_PARTICIPANT_AND_ORGANIZER
            - AS_PARTICIPANT
            - AS_ORGANIZER
            - NONE
          description: Automatically create records for people you participated with in an event.
        isSyncEnabled:
          type: boolean
          description: Is Sync Enabled
        syncCursor:
          type: string
          description: Sync Cursor. Used for syncing events from the calendar provider
        syncStatus:
          type: string
          enum:
            - ONGOING
            - NOT_SYNCED
            - ACTIVE
            - FAILED_INSUFFICIENT_PERMISSIONS
            - FAILED_UNKNOWN
          description: Sync status
        syncStage:
          type: string
          enum:
            - CALENDAR_EVENT_LIST_FETCH_PENDING
            - CALENDAR_EVENT_LIST_FETCH_SCHEDULED
            - CALENDAR_EVENT_LIST_FETCH_ONGOING
            - CALENDAR_EVENTS_IMPORT_PENDING
            - CALENDAR_EVENTS_IMPORT_SCHEDULED
            - CALENDAR_EVENTS_IMPORT_ONGOING
            - FAILED
            - PENDING_CONFIGURATION
          description: Sync stage
        syncStageStartedAt:
          type: string
          format: date-time
          description: Sync stage started at
        syncedAt:
          type: string
          format: date-time
          description: Last sync date
        throttleFailureCount:
          type: integer
          description: Throttle Failure Count
        connectedAccountId:
          type: string
          format: uuid
        calendarChannelEventAssociations:
          type: array
          items:
            "$ref": "#/components/schemas/CalendarChannelEventAssociationForResponse"
          description: Calendar Channel Event Associations
        connectedAccount:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/ConnectedAccountForResponse"
          description: Connected Account
    CalendarEventForResponse:
      type: object
      description: Calendar events
      properties:
        location:
          type: string
          description: Location
        isCanceled:
          type: boolean
          description: Is canceled
        isFullDay:
          type: boolean
          description: Is Full Day
        startsAt:
          type: string
          format: date-time
          description: Start Date
        endsAt:
          type: string
          format: date-time
          description: End Date
        externalCreatedAt:
          type: string
          format: date-time
          description: Creation DateTime
        externalUpdatedAt:
          type: string
          format: date-time
          description: Update DateTime
        description:
          type: string
          description: Description
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Calendar event record position
        title:
          type: string
          description: Title
        iCalUid:
          type: string
          description: iCal UID
        conferenceSolution:
          type: string
          description: Conference Solution
        conferenceLink:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: Meet Link
        transcript:
          type: string
          description: Verbatim transcript of the online meeting
        transcriptSyncedAt:
          type: string
          format: date-time
          description: When this event was last checked for a transcript
        transcriptSummary:
          type: string
          description: Short summary of what was discussed and agreed
        isExternal:
          type: boolean
          description: Whether someone outside the organization took part
        calendarChannelEventAssociations:
          type: array
          items:
            "$ref": "#/components/schemas/CalendarChannelEventAssociationForResponse"
          description: Calendar Channel Event Associations
        calendarEventParticipants:
          type: array
          items:
            "$ref": "#/components/schemas/CalendarEventParticipantForResponse"
          description: Event Participants
    CalendarEventParticipantForResponse:
      type: object
      description: Calendar event participants
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        position:
          type: number
          description: Calendar event participant record position
        handle:
          type: string
          description: Handle
        displayName:
          type: string
          description: Display Name
        isOrganizer:
          type: boolean
          description: Is Organizer
        responseStatus:
          type: string
          enum:
            - NEEDS_ACTION
            - DECLINED
            - TENTATIVE
            - ACCEPTED
          description: Response Status
        calendarEventId:
          type: string
          format: uuid
        personId:
          type: string
          format: uuid
        workspaceMemberId:
          type: string
          format: uuid
        calendarEvent:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/CalendarEventForResponse"
          description: Event ID
        person:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/PersonForResponse"
          description: Person
        workspaceMember:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/WorkspaceMemberForResponse"
          description: Workspace Member
    Company:
      type: object
      description: A company
      properties:
        name:
          type: string
          description: The company name
        domainName:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company website URL. We use this url to fetch the company icon
        address:
          type: object
          properties:
            addressStreet1:
              type: string
            addressStreet2:
              type: string
            addressCity:
              type: string
            addressPostcode:
              type: string
            addressState:
              type: string
            addressCountry:
              type: string
            addressLat:
              type: number
            addressLng:
              type: number
          description: Address of the company
        employees:
          type: integer
          description: Number of employees in the company
        linkedinLink:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company Linkedin account
        xLink:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company Twitter/X account
        idealCustomerProfile:
          type: boolean
          description: "Ideal Customer Profile: Indicates whether the company is the most suitable and valuable customer for you"
        position:
          type: number
          description: Company record position
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
          description: The workspace member who last updated the record
        accountOwnerId:
          type: string
          format: uuid
        prudaiMarketingTrialState:
          type: string
          description: debug
        prudaiMarketingLastTouchAt:
          type: string
          format: date-time
          description: debug
        prudaiMarketingOutreachState:
          type: string
          description: debug
        prudaiMarketingN8nId:
          type: string
          description: debug
        prudaiMarketingSignalScore:
          type: integer
          description: debug
        prudaiMarketingProductTarget:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPlaybook:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSuppressionFlags:
          type: object
          description: debug
        prudaiMarketingLegacyHubspotId:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSendgridCategory:
          type: string
          description: debug
        marketingSelection:
          type: string
        product:
          type: array
          items:
            type: string
            enum:
              - LEO
              - VERA
              - ZIA
              - BEVER
              - IRMA
              - ORDO
              - CATO
        relatedTasksId:
          type: string
          format: uuid
        visibility:
          type: string
          enum:
            - MARKETING
            - RESTRICTED
        prudaiMarketingSourceSystem:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        isenriched:
          type: boolean
        annualRecurringRevenue:
          type: object
          properties:
            amountMicros:
              type: number
            currencyCode:
              type: string
          description: "Annual Recurring Revenue: The actual or estimated annual revenue of the company"
        prudaiMarketingSourceContext:
          type: object
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPrimaryPhone:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPhoneNumbers:
          type: object
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSourceUrl:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingLastEngagementAt:
          type: string
          format: date-time
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingProductInterestSummary:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSourceSegment:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        branche:
          type: string
          enum:
            - ADVOCATUUR
            - ARCHITECTUUR
            - OVERHEID
            - WONINGCORPORATIE
        klantstatus:
          type: string
          enum:
            - KLANT
            - PILOT
            - PARTNER
            - OPGEZEGD
          description: "Gebruikt onze systemen? Afgeleid uit account-dashboard entitlements (17-08-2026). Klant = betaalt, Pilot = gratis proefperiode."
        prudaiMarketingSourceInventoryId:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
      example:
        name: Company name
        domainName:
          primaryLinkLabel: ""
          primaryLinkUrl: "https://muffled-hovercraft.net/"
          secondaryLinks: []
        linkedinLink:
          primaryLinkLabel: ""
          primaryLinkUrl: "https://tattered-bowling.biz/"
          secondaryLinks: []
        xLink:
          primaryLinkLabel: ""
          primaryLinkUrl: "https://near-event.org"
          secondaryLinks: []
        product:
          - LEO
        visibility: MARKETING
        annualRecurringRevenue:
          amountMicros: "380000000"
          currencyCode: EUR
        branche: ADVOCATUUR
        klantstatus: KLANT
    CompanyForResponse:
      type: object
      description: A company
      properties:
        id:
          type: string
          format: uuid
          description: Id
        createdAt:
          type: string
          format: date-time
          description: Creation date
        updatedAt:
          type: string
          format: date-time
          description: Last time the record was changed
        deletedAt:
          type: string
          format: date-time
          description: Date when the record was deleted
        name:
          type: string
          description: The company name
        domainName:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company website URL. We use this url to fetch the company icon
        address:
          type: object
          properties:
            addressStreet1:
              type: string
            addressStreet2:
              type: string
            addressCity:
              type: string
            addressPostcode:
              type: string
            addressState:
              type: string
            addressCountry:
              type: string
            addressLat:
              type: number
            addressLng:
              type: number
          description: Address of the company
        employees:
          type: integer
          description: Number of employees in the company
        linkedinLink:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company Linkedin account
        xLink:
          type: object
          properties:
            primaryLinkLabel:
              type: string
            primaryLinkUrl:
              type: string
            secondaryLinks:
              type: array
              items:
                type: object
                description: A secondary link
                properties:
                  url:
                    type: string
                    format: uri
                  label:
                    type: string
          description: The company Twitter/X account
        idealCustomerProfile:
          type: boolean
          description: "Ideal Customer Profile: Indicates whether the company is the most suitable and valuable customer for you"
        position:
          type: number
          description: Company record position
        createdBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The creator of the record
        updatedBy:
          type: object
          properties:
            source:
              type: string
              enum:
                - EMAIL
                - CALENDAR
                - WORKFLOW
                - AGENT
                - API
                - IMPORT
                - MANUAL
                - SYSTEM
                - WEBHOOK
            workspaceMemberId:
              type: string
              format: uuid
            name:
              type: string
          description: The workspace member who last updated the record
        accountOwnerId:
          type: string
          format: uuid
        prudaiMarketingTrialState:
          type: string
          description: debug
        prudaiMarketingLastTouchAt:
          type: string
          format: date-time
          description: debug
        prudaiMarketingOutreachState:
          type: string
          description: debug
        prudaiMarketingN8nId:
          type: string
          description: debug
        prudaiMarketingSignalScore:
          type: integer
          description: debug
        prudaiMarketingProductTarget:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPlaybook:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSuppressionFlags:
          type: object
          description: debug
        prudaiMarketingLegacyHubspotId:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSendgridCategory:
          type: string
          description: debug
        marketingSelection:
          type: string
        product:
          type: array
          items:
            type: string
            enum:
              - LEO
              - VERA
              - ZIA
              - BEVER
              - IRMA
              - ORDO
              - CATO
        relatedTasksId:
          type: string
          format: uuid
        visibility:
          type: string
          enum:
            - MARKETING
            - RESTRICTED
        prudaiMarketingSourceSystem:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        isenriched:
          type: boolean
        annualRecurringRevenue:
          type: object
          properties:
            amountMicros:
              type: number
            currencyCode:
              type: string
          description: "Annual Recurring Revenue: The actual or estimated annual revenue of the company"
        prudaiMarketingSourceContext:
          type: object
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPrimaryPhone:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingPhoneNumbers:
          type: object
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSourceUrl:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingLastEngagementAt:
          type: string
          format: date-time
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingProductInterestSummary:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        prudaiMarketingSourceSegment:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        branche:
          type: string
          enum:
            - ADVOCATUUR
            - ARCHITECTUUR
            - OVERHEID
            - WONINGCORPORATIE
        klantstatus:
          type: string
          enum:
            - KLANT
            - PILOT
            - PARTNER
            - OPGEZEGD
          description: "Gebruikt onze systemen? Afgeleid uit account-dashboard entitlements (17-08-2026). Klant = betaalt, Pilot = gratis proefperiode."
        prudaiMarketingSourceInventoryId:
          type: string
          description: Managed by marketing-dashboard for Twenty CRM sync.
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/AttachmentForResponse"
          description: Attachments linked to the company
        people:
          type: array
          items:
            "$ref": "#/components/schemas/PersonForResponse"
          description: People linked to the company.
        accountOwner:
          type: object
          oneOf:
            - "$ref": "#/components/schemas/WorkspaceMemberForResponse"
          description: Your team member responsible for managing the company account
        taskTargets:
          type: array
          items:
            "$ref": "#/components/schemas/TaskTargetForResponse"
          description: Tasks tied to the company
        noteTargets:
          type: array
          items:
[...]
